html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

h1 {
    margin-right: 30px;
}

h1, h2 {
    text-transform: uppercase;
}

p {
    margin-bottom: .25rem;
}

section {
    padding: 25px 0;
}

.heading-spacing {
    display: flex;
    align-items: baseline;
    & > * {
        margin-right: 20px;
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
