$p-1: rgba(142,121,173,1);
$p-2: rgba(105, 79,144,1);
$p-3: rgba( 74, 45,116,1);	// Main Primary color */
$p-4: rgba( 47, 21, 87,1);
$p-5: rgba( 26,  5, 58,1);

$g-1: rgba(156,147,170,1);
$g-2: rgba(125,120,133,1);
$g-3: rgba(139,136,144,1);	// Main Primary color */
$g-4: rgba(109,102,119,1);
$g-5: rgba( 96, 87,109,1);
