@import "../node_modules/typeface-cooper-hewitt/index.css";

h1, h2 {
    font-family: "Cooper Hewitt", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
}

h1, h2, h4 {
    color: $black;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

a {
    color: $color_text_active;
    &:hover {
        color: $color_light_text;
    }
}

.serif-accent {
    font-family: "Crimson Text", serif;
    font-weight: 600;
}

body {
    font-family: "Cooper Hewitt", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $color_dark_text;
}
