@import "../../../sass/_settings.scss";

.resume {
    padding: 20px 0;

    &.dark {
        background-color: $background_dark;
    }
    &.light {
        background-color: $background_light;
    }

    .position {
        margin-right: 10px;
    }
}
