@import "../../../sass/_settings.scss";

.header {
    width: 100%;
    margin: 30px 0 20px;
    .header-content > * {
        line-height: 1;
    }
    &-content {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .gray {
            color: $color_lightest_text;
        }
        .black {
            color: $black;
        }
    }
    &-nav-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        &-item {
            margin-left: 10px;
            a {
                font-size: 24px;
            }

            i::before {
                font-size: 42px;
                margin-right: 0;
                margin-bottom: .5rem;
            }
        }
    }
}